{erl_opts, [debug_info,export_all]}.
{deps, [
        jsone,
        proper,
        {wrangler, {git, "https://github.com/RefactoringTools/wrangler.git", {branch, "master"}}},
        {parse_trans, {git, "https://github.com/uwiger/parse_trans.git", {branch, "master"}}}
       ]
}.

{escript_incl_apps,
 [equivchecker]}.
{escript_main_app, equivchecker}.
{escript_name, equivchecker}.
{escript_emu_args, "%%! +sbtu +A1\n"}.

%% Profiles
{profiles, [{test,
             [{erl_opts, [debug_info]}
            ]}]}.
